* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

body {
    background-color: #605959;
    
}

.wrapper{
    margin: 0 auto;
    width: 1000px;

}
nav{
width:100%;
height: 100px;
background-color:#fff;

    }
nav2 {
    width: 100%;
    height: 100px;
    text-align: center;
}
p {
    font-size: 24px;
    text-align: center;
    align-content: flex-start;
}
p2{
    align-content:flex-start;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
   

}

ul li {
    list-style: none;
    display:inline-block;
    line-height:100px;
      

}


    ul li a {
        font-size: 14px;
        font-family: Arial;
        color: #1e1e1e;
        padding: 0 20px;
    }
    ul li a:hover {
        color: red;
    }

        
